<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Cadastro de Novo Cliente</title>
</head>
<body>
<main>
    <br>
<!--    <h4 class="container" th:text="${pessoaFisica.id == null ? 'Cadastrando um novo cliente Pessoa Física' :-->
<!--            'Editando um cliente Pessoa Física existente'}">-->
<!--        -->
<!--    </h4>-->
    <h4 class="container text-center">Cadastrando novo cliente</h4>
    <br>
    <form class="container" th:action="@{/persistirNovoUsuario}" th:object="${usuario}" method="post">

        <div class="form-row">
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{username}" th:errorclass="is-invalid" placeholder="Email">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{password}" th:errorclass="is-invalid" placeholder="Senha">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            </div>

            <div class="mb-2 col-lg-6">
                <input type="submit" value="Cadastrar">
            </div>
        </div>
    </form>
</main>
</body>
</html>