<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Carrinho de Compras</title>
</head>
<body>
    <main class="container">
        <h3 class="mt-3">Pagamento da Compra</h3>
        <table class="table" border="1">
            <thead style="background-color: #f5f5dc;">
                <tr>
                    <th>Descrição do Item</th>
                    <th>Valor Unitário do Item</th>
                    <th>Quantidade</th>
                    <th>Valor Total do Item</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:with="valorTotal=0.0"></th:block>
                <tr th:each="item : ${session.venda.itensVenda}">
<!--                    <td th:text="${venda.produto.descricao}"></td>-->
<!--                    <td th:text="${#numbers.formatCurrency(venda.produto.valor)}"></td>-->
                    <td th:text="${#numbers.formatDecimal(item.quantidade, 1, 2)}"></td>
<!--                    <td th:text="${#numbers.formatCurrency(venda.produto.valor * item.quantidade)}"></td>-->
<!--                    <th:block th:with="valorTotal=${valorTotal + (venda.produto.valor * item.quantidade)}"></th:block>-->
                </tr>
            </tbody>
        </table>
        <h4 style="text-align: right">Valor total da compra: R$ <span th:text="${#numbers.formatCurrency(valorTotal)}"></span></h4>
        <form class="container" th:action="@{/produto/list-vitrine}" method="get">
            <br>
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Continuar Compra">
            </div>
        </form>
            <br>
            <div class="mt-3">
                <h3 style="text-align: right">Venda finalizada</h3>
            </div>
    </main>
</body>
</html>