<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Carrinho de Compras</title>
</head>
<body>
    <main class="container">
        <h3 class="mt-3">Pagamento da Compra</h3>
        <table class="table" border="1">
            <thead style="background-color: #f5f5dc;">
                <tr>
                    <th>Descrição do Item</th>
                    <th>Valor Unitário do Item</th>
                    <th>Quantidade</th>
                    <th>Valor Total do Item</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="item,i : ${session.venda.itensVenda}">
                <td th:text="${item.produto.descricao}"></td>
                <td th:text="${#numbers.formatCurrency(item.produto.valor)}"></td>
                <td th:text="${#numbers.formatDecimal(item.quantidade, 1, 2)}"></td>
                <td th:text="${#numbers.formatCurrency(item.totalItemVenda())}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <h4 style="text-align: right; font-weight: bold; background-color: lightgrey;">Valor total da compra:
            <span th:text="${#numbers.formatCurrency(session.venda.totalVenda())}"></span></h4>
        <div class="mt-3">
            <h2 style="text-align: center; font-weight: bold; background-color: lightgrey;">Venda finalizada</h2>
        </div>
    </main>
</body>
</html>